/* Root styling */
:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Reset body margin */
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

/* Navbar styling */
.AppBar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f5f5dc !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Sidebar styling */
.dashboard {
  position: fixed; /* Keep aligned with the main content */
  top: 150px; /* Increased top slightly to make it lower */
  left: 0;
  width: 240px;
  height: calc(100vh - 130px); /* Adjust height accordingly */
  background-color: #2c3e50;
  overflow-y: auto; /* Add scrolling if sidebar content overflows */
  z-index: 1;
}

.dashboard-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  margin-bottom: 5px;
  border-radius: 4px;
}

.dashboard-item:hover {
  background-color: #34495e;
}

.dashboard-item.active {
  background-color: #34495e;
}

/* Main content styling */
.main-content {
  margin-left: 240px; /* Align content next to the sidebar */
  padding: 20px;
  background-color: #ffffff;
  height: calc(100vh - 70px); /* Full height minus navbar */
  overflow-y: auto; /* Enable scrolling */
  margin-top: 20px; /* Slightly lower than before */
}
